<div class="center jumbotron">
  <h1>Welcome to the 2015 March Madness Pool</h1>
  <h2><i>Brought to you by The Boys of Dog Mugy</i></h2>
  <%= link_to image_tag("LhfQQ.png", alt: "TLChandler Logo", width: 300,
                         height:300, title: "Click to Log in."), login_path %>
</div>
