<% provide(:title, "About") %>
<h1>What you got yourself into</h1>
<p>It's time people.  That time of year we all come together and remember the
  simpler times where a random betting pool like this was still fun and not a
  cause for angst and frustrations.  The care-free times where Eric and Lorinda
  could sit and talk about the nuances of chance and fairness of random
  selection.  Ah yes, I give us all the chance to feel young again and still for
  only $10 (Except for Tim)!  It's March Madness baby!  Are you in?  Are
  traditions and memories more important to you than $10?  HELL YES! (Send me
  your money)!!</p>

<p>As always we need 16 people with $10 to step up and be run this gauntlet.
  Here's a recap on the rules and the mad-cash you could win:</p>

<ul>Everybody gets 4 teams:
  <li>1 seeded 1st through 4th </li>
  <li>1 seeded 5th through 8th </li>
  <li>1 seeded 9th through 12th </li>
  <li>1 seeded 13th through 16th </li>
</ul>

<p>All those play-in games won't matter, you're just assigned the slot in the
  final 64 bracket, the winners of the play-in games become your team. You get
  2 points for every game one of your teams wins in the first 2 rounds, 3 points
  for any wins in the 3rd and 4th rounds, and 4 points for every win in the
  Semi-finals or Championship game.</p>

  <p>In addition, total Plus/Minus of points scored for all your teams in all
    games they play in will be used as a tie breaker for anybody who is tied for
    points at the end. </p>

  <p>1st place gets $80, 2nd gets $40, 3rd gets $25 and 4th gets $15. Everyone
    else loses with varying degrees of humiliation.</p>
