<% provide(:title, "Contact") %>
<h1>What do you want to talk to me for?</h1>
<p>I mean...if you must, you can email the forever fair and impartial overseer
  of this pool at <a href="mailto:ballycyrk@gmail.com">The Exalted One</a>*</p>

<small> *There are no promises that you won't be called out publically for your
    whining. (However all bribes will be kept confidential.) </small>

