<footer class="footer">
  <small>
    <a href="https://en.wikipedia.org/wiki/March_Madness_pools">NCAA pools made easy</a>
    by <a href="https://www.facebook.com/colinjmckenna">Colin McKenna</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.ncaa.com/sports/basketball-men">News</a></li>
    </ul>
  </nav>
</footer>
